<!DOCTYPE html>
<html>
<head>

  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shin' %>
</head>
<body>
	
<%= render 'layouts/header' %>
<div class="container">
	<!-- Inicio flash message -->
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "alert alert-#{key == :notice ? 'success' : 'error'}") %>
	<% end -%>

	<!-- End flash message -->

	<%= yield %> 

  <%= render 'layouts/footer' %>

  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
